.todoD{
    display: flex;
    
}
.card {
    color: white;
    background-color: #1e213a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
   
    
    
}
.img{
    align-self: stretch;
    display: flex;
    justify-content: space-around;
    font-size: 0.6rem;
}
.divtest{
    display: grid;
    width: 100%;
    place-content: center;
    height: 50vh;
    background-color: #100e1d;
    grid-template-columns: 290px 290px 290px 290px 290px;
}
.h1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 18px;
}
.h3t{
    font-size: 20px;
}
.min{
    color: #67677c;
}
.max{
    color: #d9d9df;
}