.todoD{
    display: flex;
    background-color: rgb(30, 31, 34);
}
.card {
    color: white;
    background: #1E213A;
    width: 120px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    
}
.img{
    align-self: stretch;
    display: flex;
    justify-content: space-around;
    font-size: 0.6rem;
}
